node_modules
.tscache
old


public/bower_components
public/src/**/*.js.map
public/src/**/*.js
**/*.sublime-workspace

public/config.js.map
public/config.js
public/Game.js.map
public/Game.js

server/**/*.js.map
server/**/*.js

server/typings/**/*.d.ts
!server/typings/tsd.d.ts
public/typings/**/*.d.ts
!public/typings/tsd.d.ts
!public/typings/typings_custom/*.d.ts

app.js
app.js.map
